In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', 50)
plt.rcParams['font.sans-serif']=['SimHei']
plt.rcParams['axes.unicode_minus']=False

In [2]:
df=pd.read_stata('cgss样本.dta',convert_categoricals=True)
df.head()

,id,s41,a2,a31,a4,a4a,a51,a511,a512,a513,a514,a515,a516,a517,a518,a519,a520,a521,a6,a7a,a7aa,a7b,a7c,a8a,a8b,...,d407,d408,d409,d4010,d4011,d4012,d4013,d4014,d4015,d4016,d4017,d4018,d4019,d4020,d4021,d41,d42,isco08_a59,isco08_a60,isco08_sp,isco08_fa,isco08_mo,isurban,weight,random
0,1211,北京市,女,1932,汉,,是,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,从来没有参加过,初中,,毕业,1947.0,60000.0,0.0,...,有点同意,有点同意,同意,有点不同意,有点不同意,同意,不同意,非常同意,不同意,有点同意,不同意,不同意,同意,非常不同意,不同意,8.0,6.0,NaN,未分类的政府管理专业人员,NaN,未分类的事务性支持人员,NaN,城,0.422198,3
1,13449,云南省,男,1965,回,,未选择,未选择,未选择,未选择,是,未选择,未选择,未选择,未选择,未选择,未选择,未选择,从来没有参加过,普通高中,,毕业,1986.0,150000.0,150000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,技术工人,NaN,面向市场的熟练农业工作人员,面向市场的熟练农业工作人员,乡,0.347867,1
2,5376,上海市,女,1986,汉,,是,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,从来没有参加过,研究生及以上,,毕业,2009.0,100000.0,100000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,人事事务工作人员,NaN,店员,面向市场的熟练农业工作人员,不知道,城,0.450688,1
3,8133,江西省,男,1969,汉,,是,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,从来没有参加过,小学,,毕业,9998.0,500000.0,500000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,单位领导、总经理及首席执行官,NaN,NaN,面向市场的熟练农业工作人员,面向市场的熟练农业工作人员,城,2.435072,2
4,10466,湖南省,女,1955,汉,,是,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,从来没有参加过,初中,,毕业,1972.0,22800.0,22800.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,摄影师,NaN,人力资源经理,缝纫机操作员,城,0.422198,2

In [27]:
def fre(series):
    tabulate=pd.concat([series.value_counts(),
           series.value_counts()/len(series)],axis=1)
    tabulate.columns=['freq.','per.']
    tabulate.loc['total']=tabulate.apply(lambda x:x.sum())
    return tabulate

In [4]:
#性别 a2 男/女
fre(df['a2'])

        freq.      per.
女      1292.0  0.513514
男      1224.0  0.486486
total  2516.0  1.000000

In [13]:
#民族 a4 汉族/少数民族
def nation_trans(i):
    if i == '汉':
        return '汉族'
    else:
        return '少数民族'
fre(df['a4'].apply(nation_trans))

        freq.      per.
汉族     2340.0  0.930048
少数民族    176.0  0.069952
total  2516.0  1.000000

In [18]:
#户籍身份 a18 城市/农村
d={'农业户口':'农村','非农业户口':'城市','居民户口（以前是非农业户口）':'城市','居民户口（以前是农业户口）':'城市','军籍':'其他'}
fre(df['a18'].replace(d))

        freq.      per.
农村     1308.0  0.519873
城市     1198.0  0.476153
其他       10.0  0.003975
total  2516.0  1.000000

In [19]:
#受教育程度 a7a 需剔除仍在就读的个案
fre(df['a7a'])

               freq.      per.
初中             727.0  0.288951
小学             514.0  0.204293
普通高中           300.0  0.119237
没有受过任何教育       291.0  0.115660
大学本科（正规高等教育）   203.0  0.080684
大学专科（正规高等教育）   120.0  0.047695
中专              99.0  0.039348
大学专科（成人高等教育）    91.0  0.036169
大学本科（成人高等教育）    66.0  0.026232
职业高中            36.0  0.014308
研究生及以上          34.0  0.013514
私塾、扫盲班          17.0  0.006757
技校              12.0  0.004769
其他               6.0  0.002385
total         2516.0  1.000000

In [28]:
#收入水平 a8a 自己拟定标准进行分组
fre(df['a8a'])

          freq.      per.
0.0       353.0  0.140302
20000.0   161.0  0.063990
30000.0   158.0  0.062798
50000.0   149.0  0.059221
10000.0   139.0  0.055246
...         ...       ...
44112.0     1.0  0.000397
43356.0     1.0  0.000397
43200.0     1.0  0.000397
26400.0     1.0  0.000397
total    2515.0  0.999603

[205 rows x 2 columns]

In [ ]:
#父亲政治面貌 a89c 是否为党员

In [ ]:
#父亲的职业类型 a89g 自行处理

In [ ]:
#父亲的受教育程度 a89b 自行处理

In [ ]:
#兄弟姐妹数量 d21需自行计算

In [ ]:
#2.对样本的受教育年限（根据教育程度自行转化）分性别、分城乡进行描述统计。（1）基本情况的测量，如均值、标准差等