In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', 100)
plt.rcParams['font.sans-serif']=['SimHei']
plt.rcParams['axes.unicode_minus']=False

In [15]:
df=pd.read_stata('cgss样本.dta',convert_categoricals=True)
df.head()

,id,s41,a2,a31,a4,a4a,a51,a511,a512,a513,a514,a515,a516,a517,a518,a519,a520,a521,a6,a7a,a7aa,a7b,a7c,a8a,a8b,a9,a9a,a10,a10a,a11,a121,a122,a123,a124,a125,a126,a127,a128,a129,a1298,a1299,a129a,a12a,a12b,a13,a14,a15,a15a,a15b,a16,...,d374,d375,d376,d377,d378,d379,d3710,d381,d382,d383,d384,d385,d386,d391,d392,d393,d394,d395,d396,d401,d402,d403,d404,d405,d406,d407,d408,d409,d4010,d4011,d4012,d4013,d4014,d4015,d4016,d4017,d4018,d4019,d4020,d4021,d41,d42,isco08_a59,isco08_a60,isco08_sp,isco08_fa,isco08_mo,isurban,weight,random
0,1211,北京市,女,1932,汉,,是,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,从来没有参加过,初中,,毕业,1947.0,60000.0,0.0,递交过,1952.0,共产党员,1960.0,50,是,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,,NaN,1.0,150,132,一般,7,0,很少,...,0.0,2000.0,0.0,1000.0,0.0,50000.0,10000.0,同意,不同意,同意,不同意,不同意,无所谓同意不同意,比较符合,有点符合,有点不符合,有点符合,有点符合,有点符合,同意,同意,同意,不同意,不同意,有点不同意,有点同意,有点同意,同意,有点不同意,有点不同意,同意,不同意,非常同意,不同意,有点同意,不同意,不同意,同意,非常不同意,不同意,8.0,6.0,NaN,未分类的政府管理专业人员,NaN,未分类的事务性支持人员,NaN,城,0.422198,3
1,13449,云南省,男,1965,回,,未选择,未选择,未选择,未选择,是,未选择,未选择,未选择,未选择,未选择,未选择,未选择,从来没有参加过,普通高中,,毕业,1986.0,150000.0,150000.0,未递交过,0.0,群众,0.0,300,未选择,是,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,,是,1.0,165,108,比较健康,0,0,很少,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,技术工人,NaN,面向市场的熟练农业工作人员,面向市场的熟练农业工作人员,乡,0.347867,1
2,5376,上海市,女,1986,汉,,是,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,从来没有参加过,研究生及以上,,毕业,2009.0,100000.0,100000.0,递交过,2007.0,共产党员,2009.0,86,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,是,未选择,未选择,租户,是,1.0,162,120,一般,3,0,很少,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,人事事务工作人员,NaN,店员,面向市场的熟练农业工作人员,不知道,城,0.450688,1
3,8133,江西省,男,1969,汉,,是,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,从来没有参加过,小学,,毕业,9998.0,500000.0,500000.0,未递交过,0.0,群众,0.0,117,未选择,是,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,,是,1.0,165,140,一般,2,0,从不,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,单位领导、总经理及首席执行官,NaN,NaN,面向市场的熟练农业工作人员,面向市场的熟练农业工作人员,城,2.435072,2
4,10466,湖南省,女,1955,汉,,是,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,未选择,从来没有参加过,初中,,毕业,1972.0,22800.0,22800.0,未递交过,0.0,群众,0.0,60,未选择,未选择,未选择,是,未选择,未选择,未选择,未选择,未选择,未选择,未选择,,否,0.0,156,118,比较不健康,5,0,很少,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,摄影师,NaN,人力资源经理,缝纫机操作员,城,0.422198,2

In [3]:
def fre(series):
    tabulate=pd.concat([series.value_counts(),
           series.value_counts()/len(series)],axis=1)
    tabulate.columns=['freq.','per.']
    tabulate.loc['total']=tabulate.apply(lambda x:x.sum())
    return tabulate

In [4]:
#性别 a2 男/女
fre(df['a2'])

        freq.      per.
女      1292.0  0.513514
男      1224.0  0.486486
total  2516.0  1.000000

In [5]:
#民族 a4 汉族/少数民族
def nation_trans(i):
    if i == '汉':
        return '汉族'
    else:
        return '少数民族'
fre(df['a4'].apply(nation_trans))

        freq.      per.
汉族     2340.0  0.930048
少数民族    176.0  0.069952
total  2516.0  1.000000

In [6]:
#户籍身份 a18 城市/农村
d_register={'农业户口':'农村','非农业户口':'城市','居民户口（以前是非农业户口）':'城市','居民户口（以前是农业户口）':'城市','军籍':'其他'}
fre(df['a18'].replace(d_register))

        freq.      per.
农村     1308.0  0.519873
城市     1198.0  0.476153
其他       10.0  0.003975
total  2516.0  1.000000

In [7]:
#受教育程度 a7a 需剔除仍在就读的个案
fre(df.loc[df['a7b']!='正在读','a7a'])

               freq.      per.
初中             727.0  0.296010
小学             513.0  0.208876
普通高中           293.0  0.119300
没有受过任何教育       291.0  0.118485
大学本科（正规高等教育）   179.0  0.072883
大学专科（正规高等教育）   110.0  0.044788
中专              98.0  0.039902
大学专科（成人高等教育）    90.0  0.036645
大学本科（成人高等教育）    60.0  0.024430
职业高中            36.0  0.014658
研究生及以上          25.0  0.010179
私塾、扫盲班          17.0  0.006922
技校              12.0  0.004886
其他               5.0  0.002036
total         2456.0  1.000000

In [8]:
#收入水平 a8a 自己拟定标准进行分组
df['income'] = pd.to_numeric(df['a8a'],errors='coerce')
print(fre(df['a8a']))
income_df=pd.cut(df['income'],bins=[0,5000,30000,80000,1000000],
       labels=['贫穷','温饱','小康','富裕'])
fre(income_df)

          freq.      per.
0.0       353.0  0.140302
20000.0   161.0  0.063990
30000.0   158.0  0.062798
50000.0   149.0  0.059221
10000.0   139.0  0.055246
...         ...       ...
44112.0     1.0  0.000397
43356.0     1.0  0.000397
43200.0     1.0  0.000397
26400.0     1.0  0.000397
total    2515.0  0.999603

[205 rows x 2 columns]

C:\Users\ASUS\AppData\Local\Temp/ipykernel_12696/2841082215.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df['income'] = pd.to_numeric(df['a8a'],errors='coerce')

        freq.      per.
温饱      811.0  0.322337
小康      657.0  0.261129
贫穷      323.0  0.128378
富裕      223.0  0.088633
total  2014.0  0.800477

In [9]:
#父亲政治面貌 a89c 是否为党员
def party_trans(i):
    if i == '共产党员':
        return '党员'
    else:
        return '非党员'
fre(df['a89c'].apply(party_trans))

        freq.      per.
非党员    2210.0  0.878378
党员      306.0  0.121622
total  2516.0  1.000000

In [10]:
#父亲的职业类型 a89g 自行处理
d_a89g={'无单位/自雇（包括个体户）':'企业',
        '事业单位':'体制','党政机关':'体制','军队':'体制','社会团体、居/村委会':'体制',
        '不知道':np.nan,'拒绝回答':np.nan
       }
fre(df['a89g'].replace(d_a89g))

        freq.      per.
企业     1651.0  0.656200
体制      349.0  0.138712
其他      180.0  0.071542
total  2180.0  0.866455

In [11]:
#父亲的受教育程度 a89b 自行处理
d_a89b={'小学':'小学及以下','私塾、扫盲班':'小学及以下','没有受过任何教育':'小学及以下','中专':'初中',
      '技校':'高中','研究生及以上':'大学及以上','不知道':np.nan,'拒绝回答':np.nan}
def edu_trans(i):
    if '高中' in i :
        return '高中'
    elif '大学' in i :
        return '大学及以上'
    else:
        return i
fre(df['a89b'].apply(edu_trans).replace(d_a89b))

        freq.      per.
小学及以下  1635.0  0.649841
初中      376.0  0.149444
高中      201.0  0.079889
大学及以上   114.0  0.045310
其他       10.0  0.003975
total  2336.0  0.928458

In [12]:
#兄弟姐妹数量 d21需自行计算
fre(df.loc[:,'d21_1':'d21_4'].sum(axis=1))

        freq.      per.
0.0    1779.0  0.707075
1.0     155.0  0.061606
2.0     150.0  0.059618
3.0     141.0  0.056041
4.0     121.0  0.048092
5.0      90.0  0.035771
6.0      37.0  0.014706
7.0      19.0  0.007552
8.0      12.0  0.004769
396.0     4.0  0.001590
9.0       2.0  0.000795
392.0     2.0  0.000795
10.0      1.0  0.000397
296.0     1.0  0.000397
11.0      1.0  0.000397
101.0     1.0  0.000397
total  2516.0  1.000000

In [22]:
df['class'] = pd.to_numeric(df['a43b'],errors='coerce')
fre(pd.cut(df['class'],bins=[0,3,6,11],labels=['1-3','4-6','6-10']))

C:\Users\ASUS\AppData\Local\Temp/ipykernel_12696/1789628425.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df['class'] = pd.to_numeric(df['a43b'],errors='coerce')

        freq.      per.
1-3    1290.0  0.512719
4-6    1071.0  0.425676
6-10    130.0  0.051669
total  2491.0  0.990064

In [25]:
fre(df['a51'])

        freq.      per.
是      2263.0  0.899444
未选择     253.0  0.100556
total  2516.0  1.000000

In [13]:
#2.对样本的受教育年限（根据教育程度自行转化）分性别、分城乡进行描述统计。（1）基本情况的测量，如均值、标准差等
d_eduage={'小学':6,'私塾、扫盲班':6,'没有受过任何教育':0,'中专':9,'初中':9,
      '技校':12,'研究生及以上':18,'不知道':np.nan,'拒绝回答':np.nan,'其他':np.nan}
def edu_agetrans(i):
    if '高中' in i :
        return 12
    elif '大学' in i :
        return 16
    else:
        return i
df['eduage']=df['a7a'].apply(edu_agetrans).replace(d_eduage)
print(df[['eduage','a2']].groupby('a2').describe().T)
df[['eduage','a18']].groupby('a18').describe().T

a2                      男            女
eduage count  1221.000000  1289.000000
       mean      9.884521     8.548487
       std       4.401818     5.053996
       min       0.000000     0.000000
       25%       6.000000     6.000000
       50%       9.000000     9.000000
       75%      12.000000    12.000000
       max      18.000000    18.000000

C:\Users\ASUS\AppData\Local\Temp/ipykernel_12696/4071526656.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df['eduage']=df['a7a'].apply(edu_agetrans).replace(d_eduage)

a18                  农业户口       非农业户口  居民户口（以前是农业户口）  居民户口（以前是非农业户口）    军籍  \
eduage count  1306.000000  571.000000     228.000000      395.000000   1.0
       mean      7.167688   11.637478       9.925439       11.929114  18.0
       std       4.265003    4.302989       4.727710        3.954698   NaN
       min       0.000000    0.000000       0.000000        0.000000  18.0
       25%       6.000000    9.000000       6.000000        9.000000  18.0
       50%       9.000000   12.000000       9.000000       12.000000  18.0
       75%       9.000000   16.000000      16.000000       16.000000  18.0
       max      18.000000   18.000000      18.000000       18.000000  18.0

a18                  其他
eduage count   9.000000
       mean    9.888889
       std     4.986092
       min     0.000000
       25%     9.000000
       50%     9.000000
       75%    12.000000
       max    16.000000

In [27]:
pd.concat([fre(df['a2']),fre(df['a4'].apply(nation_trans)),
           fre(df['a18'].replace(d_register)),
           fre(df.loc[df['a7b']!='正在读','a7a']),
           fre(income_df),fre(df['a89c'].apply(party_trans)),
           fre(df['a89g'].replace(d_a89g)),
           fre(df['a89b'].apply(edu_trans).replace(d_a89b)),
           fre(df.loc[:,'d21_1':'d21_4'].sum(axis=1)),
          fre(pd.cut(df['class'],bins=[0,3,6,11],labels=['1-3','4-6','6-10'])),
          fre(df['a51'])]).to_excel('stata作业.xlsx')